**/.DS_Store
bin/tig
bin/vimr
local/*
!local/*.d
local/*.d/*
!local/*.d/.keep
config/ssh/authorized_keys
config/ssh/ssh_auth_sock
config/ssh/id*
config/ssh/known_hosts
config/vim/.netrwhist
config/vim/bundle/*
!config/vim/bundle/.keep
