**/.DS_Store
bin/tig
config_local/*
!config_local/*.d
config_local/*.d/*
!config_local/*.d/.keep
config/ssh/authorized_keys
config/ssh/ssh_auth_sock
config/ssh/id*
config/ssh/known_hosts
config/vim/.netrwhist
config/vim/bundle/*
!config/vim/bundle/.keep
